<h1>Login FORM</h1>

<form action="/login" method="POST">
  <p>Email: <input type="text" name="patient[email]" /></p>
  <p>password: <input type="password" name="patient[password]" /></p>
  <input type="submit" value="Log In">
</form>
