<h1>NEW SIGN UP FORM</h1>

<form action="/sign_up" method="POST">
  <p>Email: <input type="text" name="patient[email]" /></p>
  <p>username: <input type="text" name="patient[username]" /></p>
  <p>password: <input type="password" name="patient[password]" /></p>
  <p>password confirmation: <input type="password" name="patient[password_confirmation]" /></p>

  <input type="submit" value="Sign up">
</form>