<h1>New Strain Page</h1>

<form action="/strains" method="POST">
<p>name: <input type="text" name="name"/></P>
<p>ISH: <input type="text" name="ish"/></P>
<p>form: <input type="text" name="form"/></P>
<p>thc: <input type="number" name="thc"/></P>
<p>cbd: <input type="number" name="cbd"/></P>
<p>review: <input type="text" name="review"/></P>

<input type="submit" value="Log Strain">

</form>